<launch>

<arg default="$(find jimmbot_description)/urdf/jimmbot.xacro" name="model"/>
<rosparam file="$(find jimmbot_description)/config/controller.yaml" command="load"/>
<param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
<node args="joint_state_controller " name="controller_spawner" ns="jimmbot" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/jimmbot/joint_states"/>
</node>

</launch>